* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* applies style to all of body */
body {
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
}

/* applies style to header */
header {
    padding: 20px 35px;
    background-color: #39a6b2;
}

/* applies style to header h1 */
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    display: inline;
}

/* applies style to header a */
header a {
    text-decoration: none;
    color: #fce138;
}

/* applies style to header nav, ul, li and a */
header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

/* applies style to footer */
footer {
    background: #fce138;
    width: 100%;
    padding: 40px 35px;
}

/* applies syle to footer h2 */
footer h2 {
    display: inline;
    color: #024e76;
    font-size: 30px;
    margin: 0;
}

/* applies syle to footer div */
footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
}

/* applies syle to footer <a> */
footer a {
    color: #024e76;
}